{% extends "base.html" %}

{% block main %}
<div class="bg-body-tertiary p-5 rounded">
    <h1>{{ message }}</h1>
    <p class="lead">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Serial Number</th>
                <th scope="col">Valid Ski Pass</th>
            </tr>
        </thead>
        <tbody>
            {% for ski_pass in ski_passes %}
            <tr {% if ski_pass.is_invalidated %} class="text-bg-warning" {% else %} class="text-bg-success" {% endif %}>
                <th scope=" row">{{ ski_pass.serial_number }}</th>
                {% if ski_pass.is_invalidated %}
                <td>No</td>
                {% else %}
                <td>Yes</td>
                {% endif %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
    </p>
    <a class="btn btn-lg btn-primary" href="/docs/5.3/components/navbar/" role="button">Login to Get Started
        &raquo;</a>
</div>
{% endblock %}